@import 'https://fonts.googleapis.com/css?family=Raleway';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url('https://fonts.googleapis.com/css?family=Amaranth');

@import url(http://weloveiconfonts.com/api/?family=entypo);


@media screen and (max-width:345px)
{

	.typewriter
	{
		visibility: hidden;
	}

	/* ---- particles.js container ---- */ 
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 50% 80%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}
}

@media screen and (min-width:345px) and (max-width:418px)
{
	
	.typewriter
	{
		visibility: hidden;
	}

	/* ---- particles.js container ---- */ 
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 50% 80%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}

}

@media screen and (min-width:418px) and (max-width:488px)
{
		
	.typewriter
	{
		visibility: hidden;
	}

	/* ---- particles.js container ---- */ 
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 50% 80%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}

}

@media screen and (min-width:488px) and (max-width: 620px)
{
		
	.typewriter
	{
		visibility: hidden;
	}

	/* ---- particles.js container ---- */ 
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 50% 80%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	}

}

@media screen and (min-width:620px) and (max-width: 700px)
{
		
	.typewriter
	{
		visibility: hidden;
	}

	/* ---- particles.js container ---- */ 
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: auto; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 50% 50%; 	
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

}

@media screen and (min-width:700px) and (max-width: 788px)
{
		
	.typewriter
	{
		visibility: hidden;
	}
	
	/* ---- particles.js container ---- */
	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 90% 10%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	} 

}

@media screen and (min-width:788px) 
{
	.typewriter
	{
		visibility: hidden;
	}
	
	/* ---- particles.js container ---- */


	#particles-js
	{ 
		position:absolute; 
		width: 100%; 
		height: 80%; 
		/* background-color: #000000;  */
		background-image: url('/home/resurrected/Documents/FrontEnd/portFolio/images/i-love-coding-dark-big-600_small_1x.jpg'); 
		background-repeat: no-repeat; 
		background-size: 100%; 
		background-position: 90% 10%; 	
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
	} 

}

/* fontawesome */
[class*="fontawesome-"]::before 
{
  font-family: 'FontAwesome', sans-serif;
  display: inline-flex;
  flex-wrap: wrap;
	/* list-style: none; */
	color: #ffffff;
	font-size: 100%;
	margin: 27em 0em 0em 0em;
	align-content: center;
	justify-content: center;
	display: none;	
}

.socialIcons a:first-of-type     /*To set properties of first 'a' element in socialIcons div*/
{

	margin: 0em 2em 0em 6em;
	text-decoration: none;
	color: #ffffff;
}

.socialIcons a:not(:first-of-type)        /*To set properties of all 'a' elements except first one in socialIcons div*/
{

	margin: 0em 2em 0em 0em;
	text-decoration: none;
	color: #FFF;
}

/*Top navigation div */
.navigate
{

	/* display: inline-flex; */
	height: 2.5em;
	width: 100%;
	font-size: 16px;
	font-style: Raleway;
	background-color: #161616;
}

.navigate a 
{
	display: none;
}

.navigate a.icon 
{
	float: right;
	display: block;
}

.navigate a:first-of-type        /*To set properties of first 'a' element in nav*/
{

	color: #ffffff;
	float: left;
	margin: 0.75em 0em 0em 1em;
	text-decoration: none;
	display: flex;

}

.navigate a            /*To set properties of all 'a' elements in nav*/
{

	color: #ffffff;
	float: right;
	margin: 0.75em 2em 0em 0em;
	text-decoration: none;
	overflow: hidden;

}

.navigate a:not(:first-of-type):hover         /*To set hover properties to all 'a' elements in nav*/
{

	color : red;
}

.navigate .icon {
  display: none;
}

.navigate.responsive 
{
	position: relative;
	height: auto;
	width: 100%;
	font-size: 16px;
	font-style: Raleway;
	background-color: #161616;
}

.navigate.responsive a.icon 
{
	/* position: relative; */
	float: right;
	display: block;
/* 	right: 0;
	top: 0; */
}

.navigate.responsive a 
{
	/* float: none; */
	/* text-align: left; */
	color: #ffffff;
	float: left;
	margin: 0 auto;
	text-decoration: none;
}


body               /*To set properties for body of html*/
{ 
	margin:0; 
	font:normal 75% Arial, Helvetica, sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #141414;
}  


canvas           /*To set properties for canvas of particles animation*/
{ 
	display: flex;
	flex-wrap: wrap;
	vertical-align: bottom; 
	/* margin-top: 100em; */
	height: 100%;
} 
 

								/* about section styles */


#aboutMe
{

	color: #FFF;
	display: flex;
	flex-wrap: wrap;
	margin: 5em 3em auto;
	font-size: 9.5px;
	font-family: 'Amaranth', sans-serif;
	flex-direction: column;
}

#aboutMe .htmlCss
{

	width: 40%;
	margin: 3em 0 auto;

}

/* entypo */
[class*="entypo-"]:before {
  
  	font-family: 'entypo', sans-serif;
  	display: inline-block;
	/* list-style: none; */
	color: #ffffff;
	font-size: 2.5em;
	margin: 0.5em 0em 0em 0em;
}

.socialIconsAbout a:first-of-type     /*To set properties of first 'a' element in socialIcons div*/
{

	margin: 0em 2em 0em 0em;
	text-decoration: none;
	color: #ffffff;
}

.socialIconsAbout a:not(:first-of-type)        /*To set properties of all 'a' elements except first one in socialIcons div*/
{

	margin: 0em 2em 0em 0em;
	text-decoration: none;
	color: #FFF;
}